nav{
background:#222;
padding:10px;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1000px;
margin:auto;
}

.nav-links{
list-style:none;
display:flex;
gap:20px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
text-align:center;
padding:60px 20px;
background:#0a66c2;
color:white;
}

.btn{
display:inline-block;
margin:10px;
padding:10px 20px;
background:white;
color:#0a66c2;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.btn.secondary{
background:#222;
color:white;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0a66c2;
    color: white;
    text-align: center;
    padding: 30px 10px;
}

section {
    padding: 20px;
    margin: 15px;
    background: white;
    border-radius: 5px;
}

h2 {
    color: #0a66c2;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

.project {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #222;
    color: white;

}
